<div fullscreen>
    <h1>signup works!</h1>

    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

        <p>
          <label>Username</label>
          <input type="text" id="username" name="username" formControlName="username" required>
        </p>

        <p>
          <label>Password</label>
          <input  type="password" formControlName="password" required/>
        </p>
        
        <button type="submit">Login</button>
        <button [routerLink]="['/signup']">Sign Up</button>
    </form>

</div>
